<div class="text-center">
  <h1>Welcome to Vineyard Vacations</h1>
  <p>Your New York Finger Lakes winery getaway awaits!</p>
  <%= image_tag "vineyard.jpg" %>
  <p></p>
  <%= link_to "Find out more", 
    page_path('about'), 
    class: 'btn btn-default', 
    type: "button" %>
  <% if !member_signed_in? %>
    <%= link_to "I've seen enough. Sign me up!",
      new_member_registration_path, 
      class: 'btn btn-primary', 
      type: "button" %>
  <% end %>
</div>