<div class="text-center">
  <h1>Welcome to Vineyard Vacations</h1>
  <p>Your New York Finger Lakes winery getaway awaits!</p>
  <%= image_tag "vineyard.jpg" %>
  <p></p>
  <%= button_to('Join Us!', new_member_session_path, method: 'get', class: 'btn btn-primary') %>
</div>