<div class="well">
  <div id="gallery" class="carousel slide" data-interval="false">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @picture_urls.each_with_index do |pic, ind| %>
      <% if ind == 0 then @active = "active" else @active = "" end %>
        <div class="item <%= @active %>">
          <%= image_tag pic %>
        </div>
      <% end %>
    </div>

    <% if @picture_urls.count > 1 then %>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#gallery" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#gallery" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    <% end %>
  </div>

  <br />
  <%= link_to "Update Photos", host_location_pictures_path(@location),
    class: 'btn btn-primary', type: "button" unless @location.id == nil %>
</div>