<div class="row">
  <h1 class="text-center" >About Vineyard Vacations</h1>
  <div class="col-xs-6 col-xs-offset-3">
    <p>Vineyard Vacations is a Rails app developed as my project for the &quot;Building Advanced Rails Apps&quot; course from RubyThursday. It is designed to be similar in functionality to Airbnb, allowing hosts to rent accommodations to members. However, Vineyard Vacations is limited geographically to the Finger Lakes region of Upstate New York.</p>
    <h3>A little history</h3>
    <p>Ten years ago, I was teaching a graduate course in cross-media publishing in the School of Print Media at Rochester Institute of Technology. The students chose &quot;Vineyard Vacations&quot; to promote the Finger Lakes region of New York as their project theme.</p>
    <p>Their project consisted of a web site and lots of printed support materials...a display backdrop, t-shirts, fliers, rack cards, gift boxes, etc.</p>
    <p>I shamelessly stole the name from them for my project.</p>
  </div>
  <div class="col-xs-6">
    <figure>
      <%= image_tag "backdrop.jpg" %>
      <figcaption>Display Backdrop</figcaption>
    </figure>
  </div>
  <div class="col-xs-6">
    <figure>
      <%= image_tag "team.jpg" %>
      <figcaption>The Vineyard Vacations Team</figcaption>
    </figure>
  </div>
</div>
