// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

.dashboard-calendar {
  padding-top: 30px;
  max-width: 640px;
  margin: 0 auto;
}
.dashboard-calendar form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 20px;
}
.dashboard-calendar .right {
  float: right !important;
}
.dashboard-calendar .button {
  @extend .btn;
  @extend .btn-primary;
}
.dashboard-calendar fieldset {
  @extend .well;
}

.dashboard-calendar a:visited {
  color: white;
}
