<div class="well">
  <div id="calendar">
  <h3>Calendar</h3>

  <br />
  <%= link_to "Update Availability", location_available_dates_path(@location), class: 'btn btn-primary', type: "button" %>
</div>