<div class="well">
  <div id="gallery">
    <%= image_tag @picture_url %>
  </div>
  <br />
  <%= link_to "Update Photos", location_pictures_path(@location),
    class: 'btn btn-primary', type: "button" unless @location.id == nil %>
</div>