
<div class="locationform col-xs-offset-2 col-xs-4">
  <h3 class="text-center">New Location</h3>
  <%= render 'form' %>
</div>
<div class="galleryform col-xs-4">
  <h3 class="text-center">Photo Gallery</h3>
  <%= render 'gallery' %>
</div>
