<%= simple_form_for @available_date, url: { action: :update } do |f| %>
  <div class="availableform col-xs-offset-2 col-xs-6">
    <h3 class="text-center"><%= @action %> Available Date</h3>
    <%= render 'form', f: f %>
  </div>
<% end %>

